<div id="conversation">

  <div class="row">
    <div class="col">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore nesciunt blanditiis, corrupti nam libero soluta eum eos maiores aut obcaecati placeat quaerat velit quam, quia accusamus odio officia? Ducimus, cumque.</p>
    </div>
  </div>

</div>

<div id="user-input">
  <div class="input-group mt-auto">
    <input 
      [(ngModel)]="query" 
      type="text" 
      class="form-control" 
      placeholder="Whats your question or command?" 
      aria-label="Whats your question or command?" aria-describedby="">
    <div class="input-group-append">
      <button
        on-click="onClick($event)" 
        class="btn btn-outline-secondary" 
        type="button">
        <i class="fa fa-arrow-right"></i>
      </button>
    </div>
  </div>
</div>